<div class="fixed-top">
<nav class="navbar navbar-light bg-faded">
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="text" placeholder="大家都在搜索">
  </form>
</nav>
<ul class="nav justify-content-center navbar-light bg-faded">
  <li class="nav-item">
    <a class="nav-link active" routerLink="/recommend">推荐</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/popular">热门</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/pad">演奏</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/repos">项目</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/user">用户</a>
  </li>
</ul>
</div>