<nav class="navbar navbar-light bg-faded">
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="text" placeholder="大家都在搜索">
  </form>
</nav>
<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" href="#">推荐</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">热门</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">分类</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">榜单</a>
  </li>
</ul>