/* You can add global styles to this file, and also import other style files */
.media img{
    width: 64px;
    padding: 0.5rem 1rem;
}
.media{
    margin-bottom: 12px;
    box-shadow: 0px 0px 2px darkgray;
}


.sp-container{
    margin: 0 8px;
}
.wrapper{
    margin-top:96px;
}